{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "plugins": ["babel", "@typescript-eslint"],
  "rules": {
    "semi": 0,
    "comma-dangle": ["error", "always-multiline"]
  },
  "env": {
    "jest": true
  }
}
